body {
    padding: 15px;
    background-color: #faebd7;
}

td{
    margin: 3px;
    width: 100px;
}

table{
	border-spacing: 24px;
	margin-bottom: 15px;
}	

a:hover{
	text-decoration: none;
}

.btn-primary{
    padding: 6px 12px;
    height: 35px;
    border-radius: 4px;
}

.table-striped td{
    margin-left: 30px;
}

.errorMessage{
	color: red;
}



/*------------------------
Header
-------------------------*/
.shuHeader{	
	background-color: #b40756;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 10px;
	border-radius: 2px;
	
}

.shuHeader h1{
	color: #f6f6f6;
	font-family: bookman;
	font-weight: bold;
}


/*------------------------
Home Content
-------------------------*/
.homeNavigation{
    margin-bottom: 30px;
    margin-top: 50px;
}

.homeNavigation ul{
    list-style-type: none;
	padding: 0px;
 
}

.homeNavigation li {
    display: inline;
    margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    padding-top: 28px;
    padding-bottom: 28px;
    
}

.homeNavigation a {
    padding-top: 28px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 28px;
	padding: auto;
	margin: 0px;
	width: auto;
	position: relative;
	
 
}

.homeNavigation a:hover {
    background-color: #d8ecf9;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

@media only screen and (max-width: 1010px) {
   .homeNavigation li {
	   display: block;
	   /*width: auto;*/
   }
   .homeNavigation a{
	   padding-left: 30%;
	   padding-right: 30%;
	   
   }
}

/*------------------------
Main Content
-------------------------*/
.content {
    background-color: #faebd7;
    padding: 20px;
    border-radius: 2px;
	margin-top: 10px;
}
.content input{
	display: block;
	
}

.content input:valid{
	
}

.formInput{
	box-shadow: 0 0 0 3px rgba(50, 205, 50, 0.0);
    transition: all 800ms ease-in-out;
}

.formInput:valid{
	box-shadow: 0 0 0 3px rgba(50, 205, 50, 0.5)
}

.inputInvalid{
	box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5)
}

/*------------------------
Table Content
-------------------------*/
.removeBtn{
	background-color: #ff6961;
	padding: 3px;
	border-radius: 3px;
}

