body {
    padding: 15px;
    background-color: #faebd7;
}

td{
    margin: 3px;
    width: 100px;
}

.btn-primary{
    padding: 6px 12px;
    height: 35px;
    border-radius: 4px;
}

.table-striped td{
    margin-left: 30px;
}

.content {
    background-color: #faebd7;
    padding: 3px;
    border-radius: 2px;
}
.content input{
    width: 30%;
    clear: both;
}

