<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>SHU Taxis</title>
    <!-- Angular link -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <!-- Local css link-->
    <link rel="stylesheet" href="css/StyleSheet.css">
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body ng-controller="pageController">
    <!--Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ng-click="returnHome()">SHU Taxis</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style="right:0px;"><a href="#" ng-click="showTaxiList()">Login <span class="glyphicon glyphicon-user"></span><span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>

    </nav>

    <!--Header-->
    <div class="row">
        <h2>SHU Taxis</h2>
		{{test}}
    </div>

    <!--Manages the navigation of the different sections of the site-->
   <div class="homeNavigation" ng-show="showHomeNavigation">
       <ul class="inline">
           <li><a ng-click="viewTaxis()">Show current taxis</a></li>
           <li><a ng-click="viewBookings()">Show current bookings</a> </li>
           <li><a ng-click="viewRoutes()">Show current routes</a></li>
           
       </ul>
	</div>
    
    <div class="content">
        <!--Show current taxis-->
        <div ng-controller="taxiController">
            <div ng-show="showCurrentTaxis">
                <h4 style="text-decoration:underline;">Current taxis</h4>
                <p>Search Taxi: <input type="text" ng-model="search" /></p>
                <p>{{errorMessage | json}}</p>
                <table class="table-striped">
                    <tr style="font-weight: bold; ">
                        <td>Car Make</td>
                        <td>Capacity</td>
                        <td>Driver</td>
                        <td>Registration</td>
                        <td>Model</td>
                    </tr>
                    <tr ng-repeat="taxi in vehicles | filter:search">
                        <td>{{taxi.Make}}</td>
                        <td>{{taxi.Capacity}}</td>
                        <td>{{taxi.Driver}}</td>
                        <td>{{taxi.Registration}}</td>
                        <td>{{taxi.Model}}</td>
                        <td><a href="" ng-click="removeTaxi(taxi)"> Remove</a></td>
                        <td><a href="" ng-click="editTaxi(taxi.Id)"> Edit</a></td>
                    </tr>
                </table>
                <button ng-click="beginTaxiAdding();" class="btn-primary">Add new Taxi</button>
            </div>
            <!--Add taxis-->
            <div ng-show="isTaxiAdding">
                <h2>Add Taxi</h2>
                <label>Make: <input ng-model="addTaxiMake" placeholder="e.g Nissan" /></label><br>
                <label>Capacity: <input type="number" ng-model="addTaxiCapacity" placeholder="e.g 3" /></label><br>
                <label>Driver: <input ng-model="addTaxiDriver" placeholder="e.g John Doe" /></label><br>
                <label>Registration: <input ng-model="addTaxiRegistration" placeholder="e.g AR1 RE" /></label><br>
                <label>Model: <input ng-model="addTaxiModel" placeholder="e.g Corsa" /></label><br>
                <button ng-click="addTaxi()" class="btn-primary">Add</button> <button ng-click="cancelAddition()" class="btn">Cancel</button>
            </div>
            <!--Edit Taxis-->
            <div ng-show="isTaxiEditing">
                <label>Make: <input ng-model="taxiMake" placeholder="e.g Nissan" /></label><br>
                <label>Capacity: <input type="number" ng-model="taxiCapacity" placeholder="e.g 3" /></label><br>
                <label>Driver: <input ng-model="taxiDriver" placeholder="e.g John Doe" /></label><br>
                <label>Registration: <input ng-model="taxiRegistration" placeholder="e.g AR1 RE" /></label><br>
                <label>Model: <input ng-model="taxiModel" placeholder="e.g Corsa" /></label><br>
                <button ng-click="editTaxiPush()" class="btn-primary">Update</button> <button ng-click="cancelEdit()" class="btn">Cancel</button>
            </div>
        </div>
        <!--End of taxis-->

        <!--Show Current Bookings-->
        <div ng-controller="bookingController">
            <div ng-show="showCurrentBookings">
                <h4 style="text-decoration:underline;">Current bookings</h4>
                <p>Search Bookings: <input type="text" ng-model="search" /></p>
                <p>{{errorMessage | json}}</p>
                <table class="table-striped">
                    <tr style="font-weight: bold; ">
                        <td>Id</td>
                        <td>Passenger Name</td>
                        <td>Current Passengers</td>
                        <td>Pickup Location</td>
                        <td>Drop Off Location</td>
                        <td>Taxi Id</td>
                    </tr>
                    <tr ng-repeat=" booking in bookings | filter:search">
                        <td>{{booking.Id}}</td>
                        <td>{{booking.PassengerName}}</td>
                        <td>{{booking.CurrentPassenger}}</td>
                        <td>{{booking.PickupLocation}}</td>
                        <td>{{booking.DropOffLocation}}</td>                        
                        <td>{{booking.VehicleId}}</td>
                    </tr>
                </table>
                <button ng-click="beginBookingAdding();" class="btn-primary">Add new Booking</button>
            </div>
            <div ng-show="isBookingAdding">
                <h2>Add Taxi</h2>
				<p>{{errorMessage | json}}</p>
                <label>Passenger Name: <input ng-model="addBookingName" placeholder="e.g John Doe" /></label><br>
                <label>Pickup Location: <input ng-model="addBookingPickup" placeholder="e.g Nissan" /></label><br>
                <label>Drop Off Location: <input ng-model="addBookingDropOff" placeholder="e.g 3" /></label><br>
                <label>Number of Passengers: <input type="number" ng-model="addBookingNoPassengers" placeholder="e.g John Doe" /></label><br>                
                <label>Vehichle Id: 
					<select ng-model="addBookingVehicleId">
						<option ng-repeat="vehicle in vehicles" value="{{vehicle.Id}}"  ng-selected="{{$first}}">{{vehicle.Id}} - {{vehicle.Driver}} - {{vehicle.Make}} {{vehicle.Model}}</option>
					</select>
				</label><br>
                <button ng-click="addBooking()" class="btn-primary">Add</button> <button ng-click="cancelBooking()" class="btn">Cancel</button>
            </div>
        </div>
    <!--End Bookings-->
    <!--Show Current Routes-->
        <div ng-controller="routeController">
            <div ng-show="showCurrentRoutes">
                <h4 style="text-decoration:underline;">Current Routes</h4>
                <p>Search Routes: <input type="text" ng-model="search" /></p>
                <p>{{errorMessage | json}}</p>
                <table class="table-striped">
                    <tr style="font-weight: bold; ">
                        <td>Route Start Point</td>
                        <td>Route End Point</td>
                    </tr>
                    <tr ng-repeat="route in routes | filter:search">
                        <td>{{route.RouteStartPoint}}</td>
                        <td>{{route.RouteEndPoint}}</td>
                        <td><a href="" ng-click="removeRoute(route)"> Remove</a></td>
                        <td><a href="" ng-click="editRoute(route.Id)"> Edit</a></td>
                        
                    </tr>
                </table>
                <button ng-click="beginRouteAdding();" class="btn-primary">Add new Booking</button>
            </div>
            <!--Add route-->
            <div ng-show="isRouteAdding">
                <h2>Add Taxi</h2>
                <label>Route Start Point: <input ng-model="addRouteStart"/></label><br>
                <label>Route End Point: <input ng-model="addRouteEnd"/></label><br>
                <button ng-click="addRoute()" class="btn-primary">Add</button> <button ng-click="cancelRoute()" class="btn">Cancel</button>
            </div>
            <!--Edit route-->
            <div ng-show="isRouteEditing">
                <label>Route Start Point: <input ng-model="editRouteStart" /></label><br>
                <label>Route End Point: <input ng-model="editRouteEnd" /></label><br>
                <button ng-click="editRoutePush()" class="btn-primary">Update</button> <button ng-click="cancelEdit()" class="btn">Cancel</button>
            </div>
        </div>
        <!--End route-->
    </div>

    <script src="app/myApp.js"></script>
    <script src="app/taxi/taxiModule.js"></script>
    <script src="app/taxi/taxiController.js"></script>
    <script src="app/taxi/bookingController.js"></script>
    <script src="app/taxi/pageController.js"></script>
    <script src="app/taxi/routeController.js"></script>

   
</body>

</html>