<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <!-- Angular link -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <!-- Local css link-->
    <link rel="stylesheet" href="css/StyleSheet.css">
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body ng-controller="taxiController" ng-init="loadData()">
    <!--Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ng-click="returnHome()">SHU Taxis</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#" ng-click="cancelAddition()">View Taxis<span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>

    </nav>

    <!--Header/Main constant area-->
    <div class="row">
        <h2>SHU Taxis</h2>
		{{test}}
    </div>

    <!--Manages the navigation of the different sections of the site-->
   <div class="homeNavigation" ng-show="showHomeNavigation">
       <ul>
           <li>Show current taxis
           <button ng-click="hideTaxiAdding()">Go</button>
           </li>
           <li>
               Show current bookings
               <button ng-click="">Go</button>
           </li>
           <li>
               Show current routes
               <button ng-click="">Go</button>
           </li>
           
       </ul>
	</div>
    

    <!--Show current taxis-->
    <div ng-show="!showCurrentTaxis">
        <h4 style="text-decoration:underline;">Current taxis</h4>
        <p>Search Taxi: <input type="text" ng-model="search" /></p>
        <p>{{errorMessage | json}}</p>
        <table class="table-striped">
            <tr style="font-weight: bold; ">
                <td>Car Make</td>
                <td>Capacity</td>
                <td>Driver</td>
                <td>Registration</td>
                <td>Model</td>
            </tr>
            <tr ng-repeat="taxi in vehicles | filter:search">
                <td>{{taxi.Id}}</td>
                <td>{{taxi.Make}}</td>
                <td>{{taxi.Capacity}}</td>
                <td>{{taxi.Driver}}</td>
                <td>{{taxi.Registration}}</td>
                <td>{{taxi.Model}}</td>
                <td><a href="" ng-click="removeTaxi(taxi.Id)">Remove</a></td>
                <td><a href="" ng-click="showEditTaxi"</td>
            </tr>
        </table>
        <button ng-click="beginTaxiAdding();" class="btn-primary">Add new Taxi</button>
    </div>

    <!--Add taxis-->
    <div ng-show="isTaxiAdding">
        <h2>Add Taxi</h2>
        <label>Make: <input ng-model="taxiMake" placeholder="e.g Nissan" /></label><br>
        <label>Capacity: <input type="number"ng-model="taxiCapacity" placeholder="e.g 3" /></label><br>
        <label>Driver: <input ng-model="taxiDriver" placeholder="e.g John Doe" /></label><br>
        <label>Registration: <input ng-model="taxiRegistration" placeholder="e.g AR1 RE" /></label><br>
        <label>Model: <input ng-model="taxiModel" placeholder="e.g Corsa" /></label><br>
        <button ng-click="addTaxi()" class="btn-primary">Add</button> <button ng-click="cancelAddition()" class="btn">Cancel</button>
    </div>

    <script src="app/myApp.js"></script>
    <script src="app/taxi/taxiModule.js"></script>
    <script src="app/taxi/taxiController.js"></script>

   
</body>

</html>