<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>SHU Taxis</title>
    <!-- Angular link -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <!-- Local css link-->
    <link rel="stylesheet" href="css/StyleSheet.css">
	<!--<link href="css/bootstrap-custom.min.css" rel="stylesheet">-->
	<link href="css/styles.css" rel="stylesheet">
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!--Readys the site for mobile use-->
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	
	<!--Tab icon-->
	<link rel="icon" href="img/shu.png">
    
</head>

<body ng-controller="pageController">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-contents" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#" ng-click="returnHome()">SHU Taxis</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse-contents">
		  <ul class="nav navbar-nav" style="margin-top: 0px; cursor: pointer;" ng-show="quickNav">
				<li role="separator" class="divider"></li>
				<li><a ng-click="viewTaxis()">Taxis</a></li>
				<li><a ng-click="viewBookings()">Bookings</a> </li>
				<li><a ng-click="viewRoutes()">Routes</a></li>
			</ul>
		  <ul class="nav navbar-nav navbar-right">
			<ul class="nav navbar-nav navbar-right" style="margin-top: 0px;">
				<li role="separator" class="divider"></li>
                <li style="right:0px;"><a href="#" ng-show="loginButton" ng-click="loginForm = !loginForm">Login <span class="glyphicon glyphicon-log-in"></span><span class="sr-only">(current)</span></a></li>
				<li style="right:0px;"><a href="#" ng-show="!logoutButton" ng-click="logout()">Logout <span class="glyphicon glyphicon-log-in"></span><span class="sr-only">(current)</span></a></li>
            </ul>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

    <!--Header-->
    <div class="header shuHeader">
        <h1>SHU Taxis</h1>		
    </div>
	<div class="content" ng-show="currentUser">
		<center>
		<p style="right:0px;">Hello {{name}}! Welcome to SHU Taxis. From here you can select to view the current taxis, bookings or routes.</p>
		</center>
	</div>
	<div class="content" ng-show="defaultMessage">
		<center>
			<p style="font-weight: bold; font-size: 25px;">Welcome to SHU Taxis, please login to gain access the site.</p>	
		</center>
	</div>
    <!--Manages the navigation of the different sections of the site-->
	
	   <div class="homeNavigation" ng-show="showHomeNavigation">
			<div class="container ">
				<div class="row">
					
					<div class="col-md-3  navBox">
						<h3>Taxis </h3>
						<p>Click here to view current taxis</p>
						<button class="btn shuBtn " ng-click="viewTaxis()">Go &raquo;</button>
					</div>
					<div class="col-md-3 col-md-offset-1 navBox">
						<h3>Bookings </h3>
						<p>Click here to view current bookings</p>
						<button class="btn shuBtn" ng-click="viewBookings()">Go &raquo;</button>
					</div>
					<div class="col-md-3 col-md-offset-1 navBox">
						<h3>Routes </h3>
						<p>Click here to view current routes</p>
						<button class="btn shuBtn" ng-click="viewRoutes()">Go &raquo;</button>
					</div>	   
					  
				  
				   <!--<li><a ng-click="viewBookings()">Show current bookings</a> </li>
				   <li><a ng-click="viewRoutes()">Show current routes</a></li>-->
				</div>
		   </div>
		</div>
	

        <!--Show current taxis-->
        <div ng-controller="taxiController">
            <div ng-show="showCurrentTaxis">
				<div class="content">
					<h2 style="text-decoration:underline;">Current taxis</h2>
					<form class="form-group row" style="margin-left: 0px;">
						<label class="col-2 col-form-label">Search Taxis: <input class="form-control" type="text" ng-model="search" placeholder="Search.."/></label>
					</form>
					<p>{{errorMessage | json}}</p>
					<center>
					<!--Makes the table responsive-->
						<div style="overflow-x:auto;">
							<table class="table table-striped">
								<thead class="thead-default">
									<tr style="font-weight: bold; ">								
										<td>Id</td>
										<td>Car Make</td>
										<td>Capacity</td>
										<td>Driver</td>
										<td>Registration</td>
										<td>Model</td>
										<td ng-show="authorised">Actions</td>
									</tr>
								</thead>
								<tr ng-repeat="taxi in vehicles | filter:search">
									<td>{{taxi.Id}}</td>
									<td>{{taxi.Make}}</td>
									<td>{{taxi.Capacity}}</td>
									<td>{{taxi.Driver}}</td>
									<td>{{taxi.Registration}}</td>
									<td>{{taxi.Model}}</td>
									<!--Only displays these if the user is authorised-->
									<td ng-show="authorised"><a style="margin-right:4px;" href="" class="btn btn-danger" ng-click="removeTaxi(taxi)"> Remove</a><a href="" class="btn btn-info" ng-click="editTaxi(taxi.Id)"> Edit</a></td>	
								</tr>
							</table>
						</div>
						<button ng-click="beginTaxiAdding();" class="btn shuBtn">Add new Taxi</button>
					</center>
				</div>
            </div>
            <!--Add taxis-->
            <div ng-show="isTaxiAdding">
				<div class="content">
					<h2>Add Taxi</h2>
					<center>
					<form name="addTaxiForm" novalidate>
						<div class="form-group row">
							<!--Pattern checks for Capital letter at the start of each word input. Changes the outline red if its altered and invalid-->
							<label class="col-2 col-form-label">Make: <input class="formInput" ng-class="{'inputInvalid': addTaxiForm.addTaxiMake.$dirty && addTaxiForm.addTaxiMake.$invalid}" ng-model="addTaxiMake" id="addTaxiMake" name="addTaxiMake" placeholder="e.g Nissan" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label">Capacity: <input class="formInput" ng-class="{'inputInvalid': addTaxiForm.addTaxiCapacity.$dirty && addTaxiForm.addTaxiCapacity.$invalid}" type="number" name ="addTaxiCapacity" ng-model="addTaxiCapacity" placeholder="e.g 3" min="0" max="12" required/></label><br>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label">Driver: <input class="formInput" ng-class="{'inputInvalid': addTaxiForm.addTaxiDriver.$dirty && addTaxiForm.addTaxiDriver.$invalid}" name="addTaxiDriver" ng-model="addTaxiDriver" placeholder="e.g John Doe" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label">Registration: <input class="formInput" ng-class="{'inputInvalid': addTaxiForm.addTaxiReg.$dirty && addTaxiForm.addTaxiReg.$invalid}" name="addTaxiReg" ng-model="addTaxiRegistration" placeholder="e.g AR1 RE" pattern="[A-Z0-9\s]+"required/></label><br>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label">Model: <input class="formInput" ng-class="{'inputInvalid': addTaxiForm.addTaxiModel.$dirty && addTaxiForm.addTaxiModel.$invalid}" name="addTaxiModel" ng-model="addTaxiModel" placeholder="e.g Corsa" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>		
						</div>
						<div class="errorMessage" ng-show="addTaxiForm.addTaxiMake.$error.$invalid || addTaxiForm.addTaxiDriver.$error.$invalid || addTaxiForm.addTaxiReg.$error.$invalid">Ensure your inputs begin with capital letters where possible</div>
						<div class="errorMessage" ng-show="addTaxiForm.addTaxiCapacity.$dirty && addTaxiForm.addTaxiCapacity.$invalid">Capacity must be more than 0 and less than 12</div>
						<div class="errorMessage" ng-show="addTaxiForm.$error.required && addTaxiForm.addTaxiMake.$dirty && addTaxiForm.addTaxiDriver.$dirty && addTaxiForm.addTaxiReg.$dirty && addTaxiForm.addTaxiModel.$dirty">Required information is missing</div>
						<button ng-disabled="addTaxiForm.$invalid" ng-click="addTaxi();" class="btn shuBtn">Add</button> <button ng-click="cancelAddition(); clearValidations();" class="btn btn-default">Cancel</button>
					</form>
					</center>
				</div>
            </div>
            <!--Edit Taxis-->
            <div ng-show="isTaxiEditing">
				<div class="content">
					<h2>Edit Taxi</h2>
					<center>
						<form name="editTaxiForm" novalidate>	
							<div class="form-group row">
								<label>Make: <input class="formInput" ng-class="{'inputInvalid': editTaxiForm.editTaxiMake.$dirty && editTaxiForm.editTaxiMake.$invalid}" name="editTaxiMake" ng-model="taxiMake" placeholder="e.g Nissan" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
							</div>
							<div class="form-group row">
								<label>Capacity: <input class="formInput" ng-class="{'inputInvalid': editTaxiForm.editTaxiCapacity.$dirty && editTaxiForm.editTaxiCapacity.$invalid}" name="editTaxiCapacity" type="number" ng-model="taxiCapacity" placeholder="e.g 3" min="0" max="12" required/></label><br>
							</div>
							<div class="form-group row">
								<label>Driver: <input class="formInput" ng-class="{'inputInvalid': editTaxiForm.editTaxiDriver.$dirty && editTaxiForm.editTaxiDriver.$invalid}" name="editTaxiDriver" ng-model="taxiDriver" placeholder="e.g John Doe" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
							</div>
							<div class="form-group row">
								<label>Registration: <input class="formInput" ng-class="{'inputInvalid': editTaxiForm.editTaxiReg.$dirty && editTaxiForm.editTaxiReg.$invalid}" name="editTaxiReg" ng-model="taxiRegistration" placeholder="e.g AR1 RE" pattern="[A-Z0-9\s]+" required/></label><br>
							</div>
							<div class="form-group row">
								<label>Model: <input class="formInput" ng-class="{'inputInvalid': editTaxiForm.editTaxiReg.$dirty && editTaxiForm.editTaxiReg.$invalid}" name="editTaxiModel" ng-model="taxiModel" placeholder="e.g Corsa" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
							</div>
							<div class="errorMessage" ng-show="editTaxiForm.$error.required">Required information is missing</div>
							<div class="errorMessage" ng-show="editTaxiForm.$error.$invalid">Ensure your inputs begin with capital letters</div>
							<button ng-disabled="editTaxiForm.$invalid" ng-click="editTaxiPush()" class="btn shuBtn">Update</button> <button ng-click="cancelEdit()" class="btn btn-default">Cancel</button>								
						</form>
					</center>
				</div>
            </div>
        </div>
        <!--End of taxis-->

        <!--Show Current Bookings-->
        <div ng-controller="bookingController">
            <div ng-show="showCurrentBookings">
				<div class="content">
					<h2 style="text-decoration:underline;">Current bookings</h2>
					<form class="form-group row" style="margin-left: 0px;">
						<label class="col-2 col-form-label">Search Bookings: <input class="form-control" type="text" ng-model="search" placeholder="Search.."/></label>
					</form>
					<p>{{errorMessage | json}}</p>
					<center>
						<table class="table table-striped">
							<thead>
								<tr style="font-weight: bold; ">								
									<td>Id</td>
									<td>Passenger Name</td>
									<td>Current Passengers</td>
									<td>Pickup Location</td>
									<td>Drop Off Location</td>
									<td>Taxi Id</td>	
									<td ng-show="authorised">Actions</td>
								</tr>
							</thead>
							<tr ng-repeat=" booking in bookings | filter:search">
								<td>{{booking.Id}}</td>
								<td>{{booking.PassengerName}}</td>
								<td>{{booking.CurrentPassenger}}</td>
								<td>{{booking.PickupLocation}}</td>
								<td>{{booking.DropOffLocation}}</td>
								<td>{{booking.VehicleId}}</td>
								<td ng-show="authorised"><a style="margin-right:4px;" class="btn btn-danger" ng-click="removeBooking(booking)"> Remove</a><a class="btn btn-info" ng-click="editBooking(booking.Id);"> Edit</a></td>
							</tr>
						</table>
						<button ng-click="beginBookingAdding();" class="btn shuBtn">Add new Booking</button>
					</center>
				</div>
            </div>
			<!--Add booking-->
            <div ng-show="isBookingAdding">
				<div class="content">
					<h2>Add Booking</h2>				
					<p>{{errorMessage | json}}</p>
					
					<center>
						<form name="addBookingForm" novalidate>
							<div class="form-group row">
								<label>Passenger Name: <input class="formInput" ng-class="{'inputInvalid': addBookingForm.addBookingName.$dirty && addBookingForm.addBookingName.$invalid}" name="addBookingName" ng-model="addBookingName" ng-required="true" placeholder="e.g John Doe" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
							</div>
							<div class="form-group row">
								<label>Number of Passengers: <input class="formInput" ng-class="{'inputInvalid': addBookingForm.addBookingNoPassengers.$dirty && addBookingForm.addBookingNoPassengers.$invalid}" name="addBookingNoPassengers" type="number" ng-model="addBookingNoPassengers" min="1" max="{{maxTaxiCapacity}}" required/></label><br>
								<div class="errorMessage" ng-show="addBookingForm.addBookingNoPassengers.max">Number passengers for this taxi must be between 1 and {{maxTaxiCapacity}}</div>
							</div>
							<!--Loops through the route locations displays them in a dropdown box-->
							<div class="form-group row">
								<label>Pickup Location:
									<select ng-model="addBookingPickup" required>
										<option disabled selected value><center> -- select a pickup point -- </center></option>
										<option ng-repeat="route in routes" value="{{route.RouteStartPoint}}">{{route.RouteStartPoint}}</option>
										<option ng-repeat="route in routes" value="{{route.RouteStartPoint}}">{{route.RouteEndPoint}}</option>
									</select>
								</label><br>
							</div>
							<div class="form-group row">
								<label>Drop Off Location:
									<select ng-model="addBookingDropOff" required>
										<option disabled selected value><center> -- select a dropoff point -- </center></option>
										<option ng-repeat="route in routes" value="{{route.RouteEndPoint}}">{{route.RouteStartPoint}}</option>
										<option ng-repeat="route in routes" value="{{route.RouteEndPoint}}">{{route.RouteEndPoint}}</option>
									</select>
								</label><br>
							</div>
							<!--Loops through all the current vehicles and displays the driver, make and model in a drop down box-->
							<div class="form-group row">
								<label>Vehichle Id:
									<select ng-model="addBookingVehicleId" id="selectedTaxiAdd" ng-change="maxPassengers()" required>
										<option disabled selected value><center> -- select a vehicle -- </center></option>
										<option ng-repeat="vehicle in vehicles" value="{{vehicle.Id}}">{{vehicle.Driver}} - {{vehicle.Make}} {{vehicle.Model}}</option>
									</select>
								</label><br>
							</div>							
							<div class="errorMessage" ng-show="addRouteForm.$error.$invalid">Ensure your inputs begin with capital letters</div>
							<div class="errorMessage" ng-show="addBookingForm.addBookingNoPassengers.$error.max || addBookingForm.addBookingNoPassengers.$error.min">Number passengers for this taxi must be between 1 and {{maxTaxiCapacity}}</div>
							<button ng-disabled="addBookingForm.$invalid" ng-click="addBooking()" class="btn shuBtn">Add</button> <button ng-click="cancelBooking()" class="btn btn-default">Cancel</button>
						</form>
					</center>
				</div>
            </div>
			<!--Edit Booking-->
			<div ng-show="isBookingEditing">
				<div class="content">
					<h2>Edit Booking</h2>
					<center>
						<form name="editBookingForm" novalidate>
							<div class="form-group row">
								<label>Passenger Name: <strong ng-model="BookingName">{{BookingName}}</strong></label><br>
							</div>
							<div class="form-group row">
								<label>Number of Passengers: <input class="formInput" ng-class="{'inputInvalid': editBookingForm.editBookingNoPassengers.$dirty && editBookingForm.editBookingNoPassengers.$invalid}" name="editBookingNoPassengers" type="number" ng-model="editBookingNoPassengers" ng-required="true" min="1" max="{{maxTaxiCapacity}}" required/></label><br>
							</div>
							<!--Loops through the route locations displays them in a dropdown box-->
							<div class="form-group row">
								<label>Pickup Location:
									<select ng-model="editBookingPickup" ng-required="true" required>
										<option disabled selected value><center> -- select a pickup point -- </center></option>
										<option ng-repeat="route in routes" value="{{route.RouteStartPoint}}">{{route.RouteStartPoint}}</option>
										<option ng-repeat="route in routes" value="{{route.RouteStartPoint}}">{{route.RouteEndPoint}}</option>
									</select>
								</label><br>
							</div>
							<div class="form-group row">
								<label>Drop Off Location:
									<select ng-model="editBookingDropOff" ng-required="true" required>
										<option disabled selected value><center> -- select a dropoff point -- </center></option>
										<option ng-repeat="route in routes" value="{{route.RouteEndPoint}}">{{route.RouteStartPoint}}</option>
										<option ng-repeat="route in routes" value="{{route.RouteEndPoint}}">{{route.RouteEndPoint}}</option>
									</select>
								</label><br>
							</div>
							<!--Loops through all the current vehicles and displays the driver, make and model in a drop down box-->
							<div class="form-group row">
								<label>Vehichle Id:
									<select ng-model="editBookingVehicleId" id="selectedTaxiEdit" ng-change="maxPassengers()" required>
										<option disabled selected value><center> -- select a vehicle -- </center></option>
										<option ng-repeat="vehicle in vehicles" value="{{vehicle.Id}}">{{vehicle.Driver}} - {{vehicle.Make}} {{vehicle.Model}}</option>
									</select>
								</label><br>	
							</div>
							<div class="errorMessage" ng-show="editRouteForm.$error.$invalid">Ensure your inputs begin with capital letters</div>
							<div class="errorMessage" ng-show="editBookingForm.editBookingNoPassengers.$error.max || editBookingForm.editBookingNoPassengers.$error.min">Number passengers for this taxi must be between 1 and {{maxTaxiCapacity}}</div>
							<div class="errorMessage" ng-show="editBookingForm.$error.required">Required information is missing</div>
							<button ng-disabled="editBookingForm.$invalid" ng-click="editBookingPush()" class="btn shuBtn">Update</button> <button ng-click="cancelBooking()" class="btn btn-default">Cancel</button>
						</form>
					</center>
				</div>
            </div>
        </div>
    <!--End Bookings-->

    <!--Show Current Routes-->
        <div ng-controller="routeController">
            <div ng-show="showCurrentRoutes">
				<div class="content">
                <h2 style="text-decoration:underline;">Current Routes</h2>
                <form class="form-group row" style="margin-left: 0px;">
						<label class="col-2 col-form-label">Search Routes: <input class="form-control" type="text" ng-model="search" placeholder="Search.."/></label>
					</form>
                <p>{{errorMessage | json}}</p>
				<center>
					<table class="table table-striped">
						<thead>
							<tr style="font-weight: bold; ">
								<td>Route Start Point</td>
								<td>Route End Point</td>
								<td ng-show="authorised">Actions</td>
							</tr>
						</thead>
						<tr ng-repeat="route in routes | filter:search">
							<td>{{route.RouteStartPoint}}</td>
							<td>{{route.RouteEndPoint}}</td>
							<td ng-show="authorised"><a style="margin-right:4px;" class="btn btn-danger" ng-click="removeRoute(route)"> Remove</a><a href="" class="btn btn-info" ng-click="editRoute(route.Id)"> Edit</a></td>
							<td ng-show="authorised"></td>
						</tr>
					</table>
					<button ng-click="beginRouteAdding();" class="btn shuBtn">Add new Route</button>
				</center>
				</div>
            </div>
            <!--Add route-->
            <div ng-show="isRouteAdding">
				<div class="content">
					<h2>Add Route</h2>
					<center>
						<form name="addRouteForm" novalidate>
							<div class="form-group row">
								<label>Route Start Point: <input class="formInput" ng-class="{'inputInvalid': addRouteForm.addRouteStart.$dirty && addRouteForm.addRouteStart.$invalid}" name="addRouteStart" ng-model="addRouteStart" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
							</div>
							<div class="form-group row">
								<label>Route End Point: <input class="formInput" ng-class="{'inputInvalid': addRouteForm.addRouteEnd.$dirty && addRouteForm.addRouteEnd.$invalid}" name="addRouteEnd" ng-model="addRouteEnd" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
							</div>
							<div class="errorMessage" ng-show="addRouteForm.$error.$invalid">Ensure your routes begin with capital letters</div>
							<button ng-disabled="addRouteForm.$invalid" ng-click="addRoute()" class="btn shuBtn">Add</button> <button ng-click="cancelRoute()" class="btn btn-default">Cancel</button>
						</form>
					</center>
				</div>
            </div>
            <!--Edit route-->
            <div ng-show="isRouteEditing">
				<div class="content">
					<h2>Edit Route</h2>
					<center>
						<form name="editRouteForm" novalidate>
							<div class="form-group row">
								<label>Route Start Point: <input class="formInput" ng-class="{'inputInvalid': editRouteForm.editRouteStart.$dirty && editRouteForm.editRouteStart.$invalid}" name="editRouteStart" ng-model="editRouteStart" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
							</div>
							<div class="form-group row">
								<label>Route End Point: <input class="formInput" ng-class="{'inputInvalid': editRouteForm.editRouteEnd.$dirty && editRouteForm.editRouteEnd.$invalid}" name="editRouteEnd" ng-model="editRouteEnd" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$" required/></label><br>
							</div>
							<div class="errorMessage" ng-show="editRouteForm.$error.$invalid">Ensure your routes begin with capital letters</div>
							<div class="errorMessage" ng-show="editRouteForm.$error.required">Required information is missing</div>
							<button ng-disabled="editRouteForm.$invalid" ng-click="editRoutePush()" class="btn shuBtn">Update</button> <button ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
						</form>
					</center>
				</div>
            </div>
        </div>
        <!--End route-->

		<!--Log in-->

			<div ng-show="!loginForm">
				<div class="content">
					<h2>Login page</h2>
					<center>
						<form class="form-group row" id="loginForm" name="loginForm">
							<label class="col-2 col-form-label">Enter username:<input class="form-control" name="username" type="text" ng-model="username" /></label><br />
							<label class="col-2 col-form-label">Enter password:<input class="form-control" name="password" type="password" ng-model="password" /></label><br />
							<p ng-show="loginError" class="errorMessage">Your login details are incorrect</p>
							<button ng-click="login()" class="btn shuBtn"> Login </button>
						</form>
					</center>
					<!-- for now, just display the values returned from the web service for testing reasons -->
					<!--{{name}}<br />
					{{role}}<br/>
					{{isAuthenticated}}</br>
					{{test}}-->
				</div>

				<div ng-show="errorMessage">
					Error = {{errorMessage | json}}
				</div>
			</div>
		</div>
	<!--Log in end-->
	
	
	
    <script src="app/myApp.js"></script>
    <script src="app/taxi/taxiModule.js"></script>
    <script src="app/taxi/taxiController.js"></script>
    <script src="app/taxi/bookingController.js"></script>
    <script src="app/taxi/pageController.js"></script>
    <script src="app/taxi/routeController.js"></script>


</body>

</html>